<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Cadastro</title>
    </head>
    <body>
        <form class="" action="/cadastro" method="post">
            <label for="Name">Nome</label>
            <input type="text" name="name" value=""><br>

            <label for="Email">Email</label>
            <input type="email" name="email" value=""><br>

            <label for="Password">Senha</label>
            <input type="password" name="passw" value=""><br>

            <button type="submit" name="button">Cadastrar</button>
        </form>
    </body>
</html>
